
{% extends 'headerfooter.html' %}
{% block content %}
<h5 style="color:red;text-align:center;">{{error}}</h5>

	<div class="login-page">
	
		<div class="container">
				<div class="form-w3agile">
					<h3>RESET PASSWORD-- ENTER NEW PASSWORD</h3>
					<form action="/changepasword/" method="post">
						{% csrf_token %}
						<div class="key">
							<i class="fa fa-lock" aria-hidden="true"></i>
							<input  type="password" value="enter Password" name="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
							<div class="clearfix"></div>
						</div>
						<h3>RETYPE  PASSWORD</h3>
						<div class="key">
							<i class="fa fa-lock" aria-hidden="true"></i>
							<input  type="password" value="Retype Password" name="rpassword" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
							<div class="clearfix"></div>
						</div>
						<input type="submit" value="RESET PASSWORD">
						<!-- <input type="submit" value="RESET PASSWORD"> -->

					    <button type="button" onclick="document.location='/'" style="background: #ff0000;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    border: none;
    font-size: 1em;
    outline: none;
    width: 32%;
    cursor: pointer;
    margin-bottom: 30px;">cancel</button>

							</form>
				</div>
				
			</div>
		</div>

</div>
{% endblock %}