
{% extends 'headerfooter.html' %}
{% block content %}


	<div class="login-page">
	
		<div class="cantainer">
				<div class="form-w3agile">
					<h3 class="w3ls-title w3ls-title1">forgot Password</h3>
					<form action="/forgot/" method="POST">
						{% csrf_token %}
						<div class="key">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<input  type="text" value="Email" name="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
							<div class="clearfix"></div>
						</div>
						
						<input type="submit" value="send mail">
					</form>
				</div>
				
				</div>
			</div>

		
	{% endblock %}