
{% extends 'headerfooter.html' %}
{% block content %}
<h6 style="color: red">{{success}}</h6>
<h6 style="color: red">{{msg}}</h6>
		
	<!-- //header -->	
	<!-- banner -->
	<div class="banner">
		<div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover">
			<!-- Wrapper-for-Slides -->
            <div class="carousel-inner" role="listbox">  
                <div class="item active"><!-- First-Slide -->
                    <img src="/static/images/5.jpg" alt="" class="img-responsive" />
                    <div class="carousel-caption kb_caption kb_caption_right">
                        <h3 data-animation="animated flipInX">Flat <span>50%</span> Discount</h3>
                        <h4 data-animation="animated flipInX">Hot Offer Today Only</h4>
                    </div>
                </div>  
                <div class="item"> <!-- Second-Slide -->
                    <img src="/static/images/8.jpg" alt="" class="img-responsive" />
                    <div class="carousel-caption kb_caption kb_caption_right">
                        <h3 data-animation="animated fadeInDown">Our Latest Fashion Editorials</h3>
                        <h4 data-animation="animated fadeInUp">cupidatat non proident</h4>
                    </div>
                </div> 
                <div class="item"><!-- Third-Slide -->
                    <img src="/static/images/3.jpg" alt="" class="img-responsive"/>
                    <div class="carousel-caption kb_caption kb_caption_center">
                        <h3 data-animation="animated fadeInLeft">End Of Season Sale</h3>
                        <h4 data-animation="animated flipInX">cupidatat non proident</h4>
                    </div>
                </div> 
            </div> 
            <!-- Left-Button -->
            <a class="left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
				<span class="fa fa-angle-left kb_icons" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a> 
            <!-- Right-Button -->
            <a class="right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
                <span class="fa fa-angle-right kb_icons" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a> 
        </div>
		<script src="/static/js/custom.js"></script>
	</div>
	<!-- //banner -->  
	<!-- welcome -->
	<div class="welcome"> 
		<div class="container"> 
			<div class="welcome-info">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul  class=" nav-tabs" >


						<li class="">
							<a href="#tab1" data-toggle="tab">
							<i class="fa fa-laptop" aria-hidden="true"></i> 
							<h5>Electronics</h5>
						</a></li>

						<li class="">
							<a href="#tab2" data-toggle="tab">
							<i class="fa fa-female" aria-hidden="true"></i> 
							<h5>Fashion</h5>
						</a></li>



						<li class="">
							<a href="#tab3" data-toggle="tab">
							<i class="fa fa-gift" aria-hidden="true"></i> 
							<h5>Photo & Gifts</h5>
						</a></li>




						<li class="">
							<a href="#tab4" data-toggle="tab">
							<i class="fa fa-home" aria-hidden="true"></i> 
							<h5>Home Decor</h5>
						</a></li>




						<li class="">
							<a href="#tab5" data-toggle="tab">
							<i class="fa fa-motorcycle" aria-hidden="true"></i> 
							<h5>Sports</h5>
						</a></li>

					</ul>
					<div class="clearfix"> </div>
					<h3 class="w3ls-title">Featured Products</h3>
					<div class=" tab-content tab-content-t ">
							
							
                        <div class="tab-pane active text-style" id="tab1">
						<div class=" con-w3l">
							{% if Electronics %}
							{% for x in Electronics %}
							
							<a href="/productview/?prodid={{x.id}}">
										<img src="{{x.Image.url}}" style="width:124px;height: 124px;object-fit: contain;" class="img-responsive" alt="">
										<div class="offer"><p><span>Offer</span></p></div>
									</a>
									<div class="mid-1">
										<div class="women">
											<h6><a href="/productview/?prodid={{x.id}}">{{x.Productname}}</a></h6>							
										</div>
										<div class="mid-2">
											<p ><label>&#8377; {{x.Oldprice}}</label><em class="item_price">&#8377; {{x.Newprice}}</em></p>
											  <div class="block">
												<div class="starbox small ghosting"> </div>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="add">
										  <form action="/addtocart/?prodid={{x.id}}" method="POST">
							{% csrf_token %}
										   <button class="btn btn-danger my-cart-btn my-cart-b" type="submit">Add to Cart</button>
										 </form>
										</div>
										
									</div>
								
							{% endfor %}
							{% else %}	
							<p> no data </p>			
							{% endif %}											
							<div class="clearfix"></div>
						 </div>
					      </div>



					
							
							
                        <div class="tab-pane active text-style" id="tab2">
						<div class=" con-w3l">
							{% if Fashion %}
							{% for x in Fashion %}
							
							<a href="/productview/?prodid={{x.id}}">
										<img src="{{x.Image.url}}" style="width:124px;height: 124px;object-fit: contain;" class="img-responsive" alt="">
										<div class="offer"><p><span>Offer</span></p></div>
									</a>
									<div class="mid-1">
										<div class="women">
											<h6><a href="/productview/?prodid={{x.id}}">{{x.Productname}}</a></h6>							
										</div>
										<div class="mid-2">
											<p ><label>&#8377; {{x.Oldprice}}</label><em class="item_price">&#8377; {{x.Newprice}}</em></p>
											  <div class="block">
												<div class="starbox small ghosting"> </div>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="add">
										  <form action="/addtocart/?prodid={{x.id}}" method="POST">
							{% csrf_token %}
										   <button class="btn btn-danger my-cart-btn my-cart-b" type="submit">Add to Cart</button>
										 </form>
										</div>
										
									</div>
								
							{% endfor %}
							{% else %}	
							<p> no data </p>			
							{% endif %}											
							<div class="clearfix"></div>
						 </div>
					    </div>




				
							
							
                        <div class="tab-pane active text-style" id="tab3">
						<div class=" con-w3l">
							{% if Photogifts %}
							{% for x in Photogifts %}
							
							<a href="/productview/?prodid={{x.id}}">
										<img src="{{x.Image.url}}" style="width:124px;height: 124px;object-fit: contain;" class="img-responsive" alt="">
										<div class="offer"><p><span>Offer</span></p></div>
									</a>
									<div class="mid-1">
										<div class="women">
											<h6><a href="/productview/?prodid={{x.id}}">{{x.Productname}}</a></h6>							
										</div>
										<div class="mid-2">
											<p ><label>&#8377; {{x.Oldprice}}</label><em class="item_price">&#8377; {{x.Newprice}}</em></p>
											  <div class="block">
												<div class="starbox small ghosting"> </div>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="add">
										  <form action="/addtocart/?prodid={{x.id}}" method="POST">
							{% csrf_token %}
										   <button class="btn btn-danger my-cart-btn my-cart-b" type="submit">Add to Cart</button>
										 </form>
										</div>
										
									</div>
								
							{% endfor %}
							{% else %}	
							<p> no data </p>			
							{% endif %}											
							<div class="clearfix"></div>
						 </div>
					    </div>



					
							
							
                        <div class="tab-pane active text-style" id="tab4">
						<div class=" con-w3l">
							{% if Homefurniture %}
							{% for x in Homefurniture %}
							
							<a href="/productview/?prodid={{x.id}}">
										<img src="{{x.Image.url}}" style="width:124px;height: 124px;object-fit: contain;" class="img-responsive" alt="">
										<div class="offer"><p><span>Offer</span></p></div>
									</a>
									<div class="mid-1">
										<div class="women">
											<h6><a href="/productview/?prodid={{x.id}}">{{x.Productname}}</a></h6>							
										</div>
										<div class="mid-2">
											<p ><label>&#8377; {{x.Oldprice}}</label><em class="item_price">&#8377; {{x.Newprice}}</em></p>
											  <div class="block">
												<div class="starbox small ghosting"> </div>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="add">
										  <form action="/addtocart/?prodid={{x.id}}" method="POST">
							{% csrf_token %}
										   <button class="btn btn-danger my-cart-btn my-cart-b" type="submit">Add to Cart</button>
										 </form>
										</div>
										
									</div>
								
							{% endfor %}
							{% else %}	
							<p> no data </p>			
							{% endif %}											
							<div class="clearfix"></div>
						 </div>
					    </div>




					

							
							
                        <div class="tab-pane active text-style" id="tab5">
						<div class=" con-w3l">
							{% if Sports %}
							{% for x in Sports %}
							
							<a href="/productview/?prodid={{x.id}}">
										<img src="{{x.Image.url}}" style="width:124px;height: 124px;object-fit: contain;" class="img-responsive" alt="">
										<div class="offer"><p><span>Offer</span></p></div>
									</a>
									<div class="mid-1">
										<div class="women">
											<h6><a href="/productview/?prodid={{x.id}}">{{x.Productname}}</a></h6>							
										</div>
										<div class="mid-2">
											<p ><label>&#8377; {{x.Oldprice}}</label><em class="item_price">&#8377; {{x.Newprice}}</em></p>
											  <div class="block">
												<div class="starbox small ghosting"> </div>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="add">
										  <form action="/addtocart/?prodid={{x.id}}" method="POST">
							{% csrf_token %}
										   <button class="btn btn-danger my-cart-btn my-cart-b" type="submit">Add to Cart</button>
										 </form>
										</div>
										
									</div>
								
							{% endfor %}
							{% else %}	
							<p> no data </p>			
							{% endif %}											
							<div class="clearfix"></div>
						 </div>
					    </div>
	<!-- add-products -->
</div></div></div></div></div>
	<div class="add-products"> 
		<div class="container">  
			<div class="add-products-row">
				<div class="w3ls-add-grids">
					<a href="products1.html"> 
						<h4>TOP 10 TRENDS FOR YOU FLAT <span>20%</span> OFF</h4>
						<h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
					</a>
				</div>
				<div class="w3ls-add-grids w3ls-add-grids-mdl">
					<a href="products1.html"> 
						<h4>SUNDAY SPECIAL DISCOUNT FLAT <span>40%</span> OFF</h4>
						<h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
					</a>
				</div>
				<div class="w3ls-add-grids w3ls-add-grids-mdl1">
					<a href="products.html"> 
						<h4>LATEST DESIGNS FOR YOU <span> Hurry !</span></h4>
						<h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
					</a>
				</div>
				<div class="clerfix"> </div>
			</div>  	
		</div>  	
	</div>
	<!-- //add-products -->
	<!-- coming soon -->
	<div class="soon">
		<div class="container">
			<h3>Mega Deal Of the Week</h3>
			<h4>Coming Soon Don't Miss Out</h4>  
			<div id="countdown1" class="ClassyCountdownDemo"></div>
		</div> 
	</div>
	<!-- //coming soon -->
	<!-- deals -->
	<div class="deals"> 
		<div class="container"> 
			<h3 class="w3ls-title">DEALS OF THE DAY </h3>
			<div class="deals-row">
				<div class="col-md-3 focus-grid"> 
					<a href="products.html" class="wthree-btn"> 
						<div class="focus-image"><i class="fa fa-mobile"></i></div>
						<h4 class="clrchg">Mobiles</h4> 
					</a>
				</div>
				<div class="col-md-3 focus-grid"> 
					<a href="products.html" class="wthree-btn wthree1"> 
						<div class="focus-image"><i class="fa fa-laptop"></i></div>
						<h4 class="clrchg"> Electronics & Appliances</h4> 
					</a>
				</div> 
				<div class="col-md-3 focus-grid"> 
					<a href="products4.html" class="wthree-btn wthree2"> 
						<div class="focus-image"><i class="fa fa-wheelchair"></i></div>
						<h4 class="clrchg">Furnitures</h4>
					</a>
				</div> 
				<div class="col-md-3 focus-grid"> 
					<a href="products3.html" class="wthree-btn wthree3"> 
						<div class="focus-image"><i class="fa fa-home"></i></div>
						<h4 class="clrchg">Home Decor</h4>
					</a>
				</div> 
				<div class="col-md-2 focus-grid w3focus-grid-mdl"> 
					<a href="products9.html" class="wthree-btn wthree3"> 
						<div class="focus-image"><i class="fa fa-book"></i></div>
						<h4 class="clrchg">Books & Music</h4> 
					</a>
				</div>
				<div class="col-md-2 focus-grid w3focus-grid-mdl"> 
					<a href="products1.html" class="wthree-btn wthree4"> 
						<div class="focus-image"><i class="fa fa-asterisk"></i></div>
						<h4 class="clrchg">Fashion</h4>
					</a>
				</div>
				<div class="col-md-2 focus-grid w3focus-grid-mdl"> 
					<a href="products2.html" class="wthree-btn wthree2"> 
						<div class="focus-image"><i class="fa fa-gamepad"></i></div>
						<h4 class="clrchg">Kids</h4>
					</a>
				</div> 
				<div class="col-md-2 focus-grid w3focus-grid-mdl"> 
					<a href="products5.html" class="wthree-btn wthree"> 
						<div class="focus-image"><i class="fa fa-shopping-basket"></i></div>
						<h4 class="clrchg">Groceries</h4>
					</a>
				</div> 
				<div class="col-md-2 focus-grid w3focus-grid-mdl"> 
					<a href="products7.html" class="wthree-btn wthree5"> 
						<div class="focus-image"><i class="fa fa-medkit"></i></div>
						<h4 class="clrchg">Health</h4> 
					</a>
				</div> 
				<div class="col-md-2 focus-grid w3focus-grid-mdl"> 
					<a href="products8.html" class="wthree-btn wthree1"> 
						<div class="focus-image"><i class="fa fa-car"></i></div>
						<h4 class="clrchg">Automotive</h4> 
					</a>
				</div>
				<div class="col-md-3 focus-grid"> 
					<a href="products5.html" class="wthree-btn wthree2"> 
						<div class="focus-image"><i class="fa fa-cutlery"></i></div>
						<h4 class="clrchg">Food</h4> 
					</a>
				</div>
				<div class="col-md-3 focus-grid"> 
					<a href="products4.html" class="wthree-btn wthree5"> 
						<div class="focus-image"><i class="fa fa-futbol-o"></i></div>
						<h4 class="clrchg">Sports</h4> 
					</a>
				</div> 
				<div class="col-md-3 focus-grid"> 
					<a href="products2.html" class="wthree-btn wthree3"> 
						<div class="focus-image"><i class="fa fa-gamepad"></i></div>
						<h4 class="clrchg">Games & Toys</h4> 
					</a>
				</div> 
				<div class="col-md-3 focus-grid"> 
					<a href="products6.html" class="wthree-btn "> 
						<div class="focus-image"><i class="fa fa-gift"></i></div>
						<h4 class="clrchg">Gifts</h4> 
					</a>
				</div> 
				<div class="clearfix"> </div>
			</div>  	
		</div>  	
	</div> 
	<!-- //deals --> 
	<!-- footer-top -->
	{% endblock %}